<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-header>
        <div class="d-flex justify-content-end align-items-center">
          <b style="margin-right: 10px"
            >Görev Bitiş Tarihi: {{ getEndDate() }}
          </b>
          <button status="primary" nbButton (click)="addTask()">
            Görev Ekle
          </button>
        </div>
      </nb-card-header>
      <nb-card-body>
        <nb-tabset (changeTab)="change($event)">
          <nb-tab tabId="day" tabTitle="Günlük Görevler">
            <nb-list>
              <nb-list-item *ngFor="let item of dayData" [ngClass]="{'completed': item.status, 'not-completed': !item.status}">
                <app-list-item
                  style="width: 100%"
                  [task]="item"
                  (onEditTask)="editTask($event)"
                  (onDeleteTask)="deleteTask($event)"
                  (onToggleTask)="toggleTask($event)"
                ></app-list-item>
              </nb-list-item>
            </nb-list>
            <div *ngIf="dayData.length == 0">
              <nb-alert status="danger">Görev Bulunamadı!</nb-alert>
            </div>
           </nb-tab>
          <nb-tab tabId="week" tabTitle="Haftalık Görevler">
            <nb-list>
              <nb-list-item *ngFor="let item of weekData" [ngClass]="{'completed': item.status, 'not-completed': !item.status}">
                <app-list-item
                  style="width: 100%"
                  [task]="item"
                  (onEditTask)="editTask($event)"
                  (onDeleteTask)="deleteTask($event)"
                  (onToggleTask)="toggleTask($event)"

                ></app-list-item>
              </nb-list-item>
            </nb-list>
            <div *ngIf="weekData.length == 0">
              <nb-alert status="danger">Görev Bulunamadı!</nb-alert>
            </div>
          </nb-tab>
          <nb-tab tabId="month" tabTitle="Aylık Görevler">
            <nb-list>
              <nb-list-item *ngFor="let item of monthData" [ngClass]="{'completed': item.status, 'not-completed': !item.status}">
                <app-list-item
                  style="width: 100%"
                  [task]="item"
                  (onEditTask)="editTask($event)"
                  (onDeleteTask)="deleteTask($event)"
                  (onToggleTask)="toggleTask($event)"

                ></app-list-item>
              </nb-list-item>
            </nb-list>
            <div *ngIf="monthData.length == 0">
              <nb-alert status="danger">Görev Bulunamadı!</nb-alert>
            </div>
          </nb-tab>
        </nb-tabset>
       
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
