@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */
@import 'sweetalert2/src/sweetalert2.scss';


.d-flex {
  display: flex !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.completed {
  background-color: #9ef39e;
}

.not-completed {
  background-color: #f59b9b;
}